## Data Types

* Everything in Python is an object.

- A _variable_ is a name you assign to an object.

In [1]:
age = 45 
angle = 180.0 
present = True 
severity = "acute" 
status = None
phases = ['Oil', 'Water', 'Gas']
PVT = {'Pressure (psi)': 14.7, 'Volume (stb)': 120, 'Temperature (R)': 460}
coordinate = (12, 12, 10)
primes = {2, 3, 5, 7, 9}

In [2]:
type(age), type(angle), type(present), type(severity), type(status),\
      type(phases),type(PVT), type(coordinate), type(primes)

(int, float, bool, str, NoneType, list, dict, tuple, set)

### Operations

- Strings

In [3]:
'Reservoir ' + "Simulation"

'Reservoir Simulation'

In [4]:
print(f"What's the severity of the situation?. It's {severity}, Sir.")

What's the severity of the situation?. It's acute, Sir.

In [5]:
severity.capitalize()

'Acute'

In [6]:
severity[0], severity[0:2], severity[::2], severity[-1]

('a', 'ac', 'aue', 'e')

- Booleans

In [7]:
3>5, 3>=5, 3!=5, 1<3<5, bool(""), bool('alive'), bool(0), bool(1),\
      bool(None), bool("")==bool(None)

(False, False, True, True, False, True, False, True, False, True)

- Integers and Floats

In [8]:
3*4, 4-4.1, 4/7.3, 3+0.34432, 4**4, 5%2, (4+3.4)**2.2, int(4.63523), float(4)

(12,
 -0.09999999999999964,
 0.547945205479452,
 3.34432,
 256,
 1,
 81.71650495225151,
 4,
 4.0)

- Lists

In [9]:
ls = [1, 'Apple', 2.5, True, [1, 2, 3]]
ls[0], ls[-5:-1], ls[::-1]

(1, [1, 'Apple', 2.5, True], [[1, 2, 3], True, 2.5, 'Apple', 1])

In [10]:
ls.append(4)
ls

[1, 'Apple', 2.5, True, [1, 2, 3], 4]

In [11]:
ls.insert(0, 0)
ls

[0, 1, 'Apple', 2.5, True, [1, 2, 3], 4]

In [12]:
ls.pop()

4

In [13]:
del ls[-1]
ls

[0, 1, 'Apple', 2.5, True]

In [14]:
len(ls), len(severity)

(5, 5)

In [15]:
2 in ls, 'ac' in severity

(False, True)

In [16]:
[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [17]:
sorted(ls)
ls

TypeError: '<' not supported between instances of 'str' and 'int'

In [18]:
ls2 =[2, 4, 3, 5]
sorted(ls2), ls2

([2, 3, 4, 5], [2, 4, 3, 5])

In [19]:
ls3 = ls2.copy()
ls4 = ls2
ls2, ls3, ls4

([2, 4, 3, 5], [2, 4, 3, 5], [2, 4, 3, 5])

In [20]:
ls2.sort()
ls2, ls3, ls4

([2, 3, 4, 5], [2, 4, 3, 5], [2, 3, 4, 5])

- Dictionaries

In [21]:
PVT

{'Pressure (psi)': 14.7, 'Volume (stb)': 120, 'Temperature (R)': 460}

In [22]:
PVT['Pressure (psi)']

14.7

In [23]:
PVT['Pressure (psi)'] = 14.5
PVT

{'Pressure (psi)': 14.5, 'Volume (stb)': 120, 'Temperature (R)': 460}

In [24]:
PVT2={**PVT, **{'Fluid': 'Oil'}}
PVT2

{'Pressure (psi)': 14.5,
 'Volume (stb)': 120,
 'Temperature (R)': 460,
 'Fluid': 'Oil'}

In [25]:
PVT|{'Fluid': 'Oil'}

{'Pressure (psi)': 14.5,
 'Volume (stb)': 120,
 'Temperature (R)': 460,
 'Fluid': 'Oil'}

In [26]:
PVT2.values(), PVT2.keys()

(dict_values([14.5, 120, 460, 'Oil']),
 dict_keys(['Pressure (psi)', 'Volume (stb)', 'Temperature (R)', 'Fluid']))

In [28]:
PVT2

{'Pressure (psi)': 14.5,
 'Volume (stb)': 120,
 'Temperature (R)': 460,
 'Fluid': 'Oil'}

In [29]:
PVT2.get(0, None)

- Tuples

In [ ]:
coordinate

(12, 12, 10)

In [ ]:
coordinate[0]

12

In [ ]:
coordinate[0] = 13

TypeError: 'tuple' object does not support item assignment

- Sets

In [ ]:

A = {1, 2, 2, 4, 4, 5, 6, 7, 9}
A

{1, 2, 4, 5, 6, 7, 9}

In [ ]:
B = {1, 3.4, 5, 5, 6, 6, 7.0}
B

{1, 3.4, 5, 6, 7.0}

In [ ]:
A.union(B)

{1, 2, 3.4, 4, 5, 6, 7, 9}

In [ ]:
A.intersection(B)

{1, 5, 6, 7.0}

In [ ]:
tuple(A), list(A)

((1, 2, 4, 5, 6, 7, 9), [1, 2, 4, 5, 6, 7, 9])

## Control Flow

- If Statements

```
    if bool:
        # do something
    elif bool:
        # do something
    else:
        # do something else
```

In [ ]:
fluid_type = 'OIL'
area = 1300
height = 25
poro = 0.5
h20_sat = 0.2
form_volo = 1.1
form_volg = 0.8

pore_vol = height * poro * (1 - h20_sat)

if fluid_type.upper() == 'OIL':
    OOIP = (7758 * pore_vol) / form_volo
    print(f"Original Oil in place: {OOIP}")
elif fluid_type.upper() == 'GAS':
    OGIP = (43560 * pore_vol) / form_volg
    print(f"Original Gas in place: {OGIP}")
else:
    print('Try Again.')

Original Oil in place: 70527.27272727272

- For and While Loops

```
    for bool(iterables-list, dict, tuple, str, set):
        # do somthing
```

In [ ]:
for num in range(1, 21, 1):
    if num%2 == 1:
        print(num, end=', ')

1, 3, 5, 7, 9, 11, 13, 15, 17, 19,

In [ ]:
for num, item in enumerate(['USD', 'GHC', 'EUD', 'YEN']):
    print(num, item)

0 USD
1 GHC
2 EUD
3 YEN

In [ ]:
for key, value in PVT2.items():
    print(f'{key}: {value}')

Pressure (psi): 14.5
Volume (stb): 120
Temperature (R): 460
Fluid: Oil

In [ ]:
n = 0
while n<=9:
    if n%2==1:
        print(n)
    n+=1

1
3
5
7
9

In [36]:
for i in list(range(40)):
    if i== 20:
        break
    else:
        print(i, end=",")

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,

In [35]:
for i in list(range(40)):
    if i%2 == 1:
        continue
    else:
        print(i, end=",")

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,

## Code Organization

- Functions

```
def function(required_arg, optional_ar=default_val,...):
    return pass
```

In [41]:
def convert_to_celsius(degrees, source="fahrenheit"):
    if source.lower() == "fahrenheit":
        return (degrees - 32) * (5/9)
    elif source == 'kelvin':
        return degrees - 273.15
    else:
        return f"Error converting form f{source}"

In [42]:
temp1 = convert_to_celsius(60)
temp1

15.555555555555557

In [43]:
convert_to_celsius(source="kelvin", degrees=100)

-173.14999999999998

- Modules and Import Statements

In [44]:
import temperature 
temperature.TEMPERATUE_SCALES

('kelvin', 'fahrenheit', 'celsius')

In [45]:
import temperature as temp
temp.convert_to_celsius(200)

93.33333333333334

- Datetime Class

In [58]:
import datetime as dt
birthday = dt.datetime(year=2021, month=4, day=9)

In [59]:
birthday.day

9

In [60]:
birthday - dt.datetime(year=2021, month=1, day=1)

datetime.timedelta(days=98)

In [61]:
birthday + dt.timedelta(days=5)

datetime.datetime(2021, 4, 14, 0, 0)

In [63]:
birthday.strftime("%d/%m/%Y")

'09/04/2021'

In [64]:
christmas = dt.datetime.strptime("2021-12-25", "%Y-%m-%d")
christmas

datetime.datetime(2021, 12, 25, 0, 0)

In [66]:
christmas - birthday

datetime.timedelta(days=260)